# Get your tokens from the drchrono.com website under Account->API

SOCIAL_AUTH_CLIENT_ID=MqKGk2S8K12eNuWsdhA2VF8saai35q4yKd2fnzX0
SOCIAL_AUTH_SECRET=ZIYaRNUNUpL3GIns5MvMFFmNbHbKxLqGY264XK3UAEPiN4SngTPpAAJJbuWjFuyXK4wjCA0Dpn91xYjIrkA8aNZSoIrhBn8R9A4C3Xxiw3j7wsKC27U7vEQ1LRPpJ4M8
